/* JUVENTUS */

/* HERO */
.hero-juve {
	background: linear-gradient(135deg, #111111, #333333);
	color: white;
	text-align: center;
	padding: 3rem 1rem;
	border-bottom: 4px solid #000000;
}

.team-juve-logo {
	width: 120px;
}

.hero-juve h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2.8rem;
	margin: 1rem 0 0.5rem 0;
}

.team-slogan-juve {
	font-style: italic;
	color: #dcdcdc;
}

/* BOTÓN VOLVER */
.btn-volver-juve {
	display: inline-block;
	padding: 10px 22px;
	background: linear-gradient(135deg, #ffffff, #111111);
	color: #111111;
	text-decoration: none;
	border-radius: 8px;
	font-family: 'Oswald', sans-serif;
	border: 2px solid #111111;
	transition: all 0.3s ease;
}

.btn-volver-juve:hover {
	background: #111111;
	color: white;
	transform: translateX(-5px);
}

.volver-juve-container {
	width: 90%;
	margin: 2.5rem auto 1rem auto;
}

/* FONDO GENERAL */
body {
	background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
}

/* FILAS */
.info-juve-row {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin: 3rem 0;
}

.reverse {
	flex-direction: row-reverse;
}

.info-card-juve,
.info-image-juve {
	flex: 1;
}

.info-card-juve {
	background: white;
	padding: 2rem;
	border-radius: 12px;
	border-left: 5px solid #111111;
	box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.info-image-juve img {
	width: 100%;
	max-width: 450px;
	border-radius: 12px;
}

/* TÍTULOS */
.titulos-section-juve {
	margin-top: 4rem;
	text-align: center;
}

.titulos-title-juve {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.titulos-juve-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap: 2rem;
	width: 90%;
	margin: auto;
}

.trofeo-juve-card {
	background: white;
	padding: 1.5rem;
	border-radius: 12px;
	border-bottom: 4px solid #111111;
	box-shadow: 0 6px 15px rgba(0,0,0,0.06);
	transition: 0.3s;
	text-align: center;
}

.trofeo-juve-card:hover {
	background: #111111;
	color: white;
	transform: translateY(-8px);
}

.trofeo-juve-card img {
	width: 80px;
	margin-bottom: 1rem;
}

.trofeo-juve-card p {
	font-size: 28px;
	font-weight: bold;
}

.trofeo-inter-card img {
    width: 80px;
    margin-bottom: 1rem;
}

