/* MONACO */

/* HERO */
.hero-monaco {
	background: linear-gradient(135deg, #E30613, #ffffff);
	color: #000000;
	text-align: center;
	padding: 3rem 1rem;
	border-bottom: 4px solid #E30613;
}

.team-monaco-logo {
	width: 120px;
}

.hero-monaco h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2.8rem;
	margin: 1rem 0 0.5rem 0;
}

.team-slogan-monaco {
	font-style: italic;
	color: #E30613;
}

/* BOTÓN */
.btn-volver-monaco {
	display: inline-block;
	padding: 10px 22px;
	background: linear-gradient(135deg, #ffffff, #E30613);
	color: #000000;
	text-decoration: none;
	border-radius: 8px;
	font-family: 'Oswald', sans-serif;
	border: 2px solid #E30613;
	transition: all 0.3s ease;
}

.btn-volver-monaco:hover {
	background: #E30613;
	color: white;
	transform: translateX(-5px);
}

.volver-monaco-container {
	width: 90%;
	margin: 2.5rem auto 1rem auto;
}

/* FONDO */
body {
	background: linear-gradient(to bottom, #ffffff, #ffe6e6);
}

/* FILAS */
.info-monaco-row {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin: 3rem 0;
}

.reverse {
	flex-direction: row-reverse;
}

.info-card-monaco,
.info-image-monaco {
	flex: 1;
}

.info-card-monaco {
	background: white;
	padding: 2rem;
	border-radius: 12px;
	border-left: 5px solid #E30613;
	box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.info-image-monaco img {
	width: 100%;
	max-width: 450px;
	border-radius: 12px;
}

/* TITULOS */
.titulos-section-monaco {
	margin-top: 4rem;
	text-align: center;
}

.titulos-title-monaco {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.titulos-monaco-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap: 2rem;
	width: 90%;
	margin: auto;
}

.trofeo-monaco-card {
	background: white;
	padding: 1.5rem;
	border-radius: 12px;
	border-bottom: 4px solid #E30613;
	box-shadow: 0 6px 15px rgba(0,0,0,0.06);
	transition: 0.3s;
	text-align: center;
}

.trofeo-monaco-card:hover {
	background: #E30613;
	color: white;
	transform: translateY(-8px);
}

.trofeo-monaco-card img {
	width: 80px;
	margin-bottom: 1rem;
}

.trofeo-monaco-card p {
	font-size: 28px;
	font-weight: bold;
}
