/* VARIABLES DE COLOR */
:root {
    --primary-color: #0b132b;
    --secondary-color: #1c2541;
    --accent-color: #5bc0be;
    --light-color: #f5f5f5;
}

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TIPOGRAFÍA GENERAL */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
    color: var(--light-color);
}

/* HEADER */
.header {
    position: relative;
    padding: 5rem 2rem;
    text-align: center;

    background: linear-gradient(
        to bottom,
        #0b132b,
        #1c2541
    );
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(3rem, 6vw, 4.5rem);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: var(--accent-color);
}

.header::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 3rem auto 0;
}

/* barra de navegación */
nav {
    background: #1c2541;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 12px;
}

/* estilo tipo cuadros*/
nav a {
    background: #5bc0be;
    color: #0b132b;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* efecto hover */
nav a:hover {
    background: white;
}






/* GRID PRINCIPAL */
.grid-container {
    position: relative;

    min-height: 100vh; 

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding: 3rem;

    background-image: url("img/fondo-futbol.jpg");
    background-size: cover;
    background-position: center;
}


.grid-container::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* SECCIONES DE LIGAS */
.liga {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
}

/* POSICIONAMIENTO ARTÍSTICO */
.liga-es {
    grid-column: 1 / 3;
}

.liga-en {
    grid-column: 3 / 5;
}

.liga-it {
    grid-column: 5 / 7;
}

.liga-de {
    grid-column: 2 / 4;
}

.liga-fr {
    grid-column: 4 / 6;
}

/* TITULOS */
.liga h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

/* ASIDE */
.aside {
    grid-column: 5 / 7;
    background-color: var(--secondary-color);
    padding: 2rem;
    font-size: 0.9rem;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 2rem;
    background-color: #000000;
    font-size: 0.8rem;
}

/*LOGOS */
.logo {
    width: 70px;
    height: auto;
    margin-bottom: 1rem;
}

.liga-es {
    background-color: white;
    color: black;
}

.liga-es h2 {
    color: red;
}

.liga-en {
    background-color: #b7e4f8;
    color: black;
}

.liga-en h2 {
    color: blue;
}

.liga-it {
    background-color: #1f4fd8;
    color: white;
}

.liga-it h2 {
    color: green
}

.liga-de {
    background-color: red;
    color: white;
}

.liga-de h2 {
    color: black;
}

.liga-fr {
    background-color:  #1f5ed9;
    color: rgb(254, 254, 254);
}

.liga-fr h2 {
    color: rgb(0, 0, 0);
}

.liga {
    border-radius: 12px;
    padding: 2rem;

    transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

.liga:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.liga,
.aside {
    position: relative;
    z-index: 2;
}

/* Liga Española */
.liga-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* Liga Inglesa */
.premier-link{
    text-decoration: none;
    color: inherit;
    display: block;
}
/* Liga Inglesa */

/* Liga Italiana */
.seriea-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
/* Liga Italiana */

/* Liga francia */
.ligaone-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
/* Liga francia */

/*liga alemana*/
.liga-alemana-link {
    text-decoration: none;
    color: inherit;
    display: block;
}



/* HERO LALIGA */

.liga-hero {
    text-align: center;
    padding: 6rem 2rem;
    background: linear-gradient(to right, #c53535, #d7d7d7);
    color: black;
}

.liga-hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
}

.liga-hero p {
    margin-top: 1rem;
    font-size: 1.2rem;
}
/* HERO LALIGA */

/*premier*/

.premier-principal {
    text-align: center;
    padding: 6rem 2rem;
    background: linear-gradient(to right, #590781, #b7c2d7);
    color: rgb(230, 230, 230);
}

.premier-principal h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
}

.premier-principal p {
    margin-top: 1rem;
    font-size: 1.2rem;
}
/*premier*/

/*serie a*/
.seriea-principal {
    text-align: center;
    padding: 6rem 2rem;
    background: linear-gradient(to right, #172de1, #372fdd70);
    color: rgb(0, 0, 0);
}

.seriea-principal h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
}

.seriea-principal p {
    margin-top: 1rem;
    font-size: 1.2rem;
}
/*serie a*/

/*liga francia*/
.ligaone-principal {
    text-align: center;
    padding: 6rem 2rem;
    background: linear-gradient(to right, #565353, #1f5ed9b8);
    color: rgb(230, 230, 230);
}

.ligaone-principal h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.ligaone-principal p {
    margin-top: 1rem;
    font-size: 1.2rem;
}
/*liga francia*/

/*liga alemana*/
.liga-alemana-principal {
    text-align: center;
    padding: 6rem 2rem;
    background: linear-gradient(to right, #a52a2a, #909090b8);
    color: rgb(230, 230, 230);
}

.liga-alemana-principal h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.liga-alemana-principal p {
    margin-top: 1rem;
    font-size: 1.2rem;
}





/* GRID EQUIPOS */

.equipos-container {
    padding: 4rem 2rem;
}

.equipos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.equipo {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.equipo:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.equipo h2 {
    font-family: 'Oswald', sans-serif;
    color: red;
    margin-bottom: 1rem;
}

.equipo p {
    color: #333;
    font-size: 0.95rem;
    line-height: 1.5;
}

.liga-logo {
    width: 120px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}

.liga-logo:hover {
    transform: scale(1.1);
}

/* Escudos */
.equipo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.equipo:hover img {
    transform: scale(1.1);
}


/*equipo premier*/
.equipo-premier-container {
    margin: 0 auto;
    padding: 4rem 2rem;
    padding: 4rem 3rem;
}

.equipos-premier-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    background-color: #b88ce0;
    margin: 0 auto;
    padding: 4rem 2rem;
   
}

.equipo-premier {
    background-color: rgba(92, 7, 121, 0.558);
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.equipo-premier:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.equipo-premier h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(230, 230, 230);
    margin-bottom: 1rem;
}

.equipo-premier p {
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.5;
}

.premier-logo {
    width: 120px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
   
    
}

.premier-logo:hover {
    transform: scale(1.1);
}

.equipo-premier img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.equipo-premier:hover img {
    transform: scale(1.1);
}

/*serie a*/
.seriea-body {
    font-family: 'Inter', sans-serif;
    background-color: #a5d9fd;
    color: var(--light-color);
}

.equipo-seriea-container {
    margin: 0 auto;
    padding: 4rem 2rem;
}

.equipos-seriea-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    background-color: #097cb1b8;
    margin: 0 auto;
    padding: 4rem 2rem;
   
}

.equipo-italia {
    background-color: rgba(145, 158, 193, 0.558);
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.equipo-italia:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.equipo-italia h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(230, 230, 230);
    margin-bottom: 1rem;
}

.equipo-italia p {
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.5;
}

.seriea-logo {
    width: 120px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
      
}

.seriea-logo:hover {
    transform: scale(1.1);
}

.equipo-seriea img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.equipo-seriea:hover img {
    transform: scale(1.1);
}
/*serie a*/


/*liga francia*/
.ligaone-body {
    font-family: 'Inter', sans-serif;
    background-color: #788bb0;
    color: var(--light-color);
}

.equipo-francia-container {
    margin: 0 auto;
    padding: 4rem 2rem;
}

.equipos-francia-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    background-color: #687ca4b8;
    margin: 0 auto;
    padding: 4rem 2rem;
   
}

.equipo-francia {
    background-color: rgba(41, 87, 213, 0.558);
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.equipo-francia:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.equipo-francia h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(230, 230, 230);
    margin-bottom: 1rem;
}


.equipo-francia p {
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.5;
}

.ligaone-logo {
    width: 120px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
      
}

.ligaone-logo:hover {
    transform: scale(1.1);
}


.equipo-francia img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.equipo-francia:hover img {
    transform: scale(1.1);
}

/*liga francia*/

/*liga alemana*/
.liga-alemana-body {
    font-family: 'Inter', sans-serif;
    background-color: #a52a2a;
    color: var(--light-color);
}

.equipos-alemanoa-container {
    margin: 0 auto;
    padding: 4rem 2rem;
}

.equipos-alemania-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
      background: linear-gradient(to right, #810707, #e5e6e7);
    margin: 0 auto;
    padding: 4rem 2rem;
   
}

.equipo-alemania {
    background-color: rgba(108, 84, 84, 0.558);
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.equipo-alemania:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}


.equipo-alemania h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(230, 230, 230);
    margin-bottom: 1rem;
}


.equipo-alemania p {
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.5;
}



.liga-alemana-logo {
    width: 120px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
      
}

.liga-alemana-logo:hover {
    transform: scale(1.1);
}

.equipo-alemania img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.equipo-alemania:hover img {
    transform: scale(1.1);
}
/*liga alemana*/