/* VARIABLES DE COLOR */
:root {
    --primary-color: #0b132b;
    --secondary-color: #1c2541;
    --accent-color: #5bc0be;
    --light-color: #f5f5f5;
}

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TIPOGRAFÍA GENERAL */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
    color: var(--light-color);
}

/* HEADER */
.header {
    position: relative;
    padding: 5rem 2rem;
    text-align: center;

    background: linear-gradient(
        to bottom,
        #0b132b,
        #1c2541
    );
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(3rem, 6vw, 4.5rem);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: var(--accent-color);
}

.header::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 3rem auto 0;
}

/* barra de navegación */
nav {
    background: #1c2541;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 12px;
}

/* estilo tipo cuadros*/
nav a {
    background: #5bc0be;
    color: #0b132b;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* efecto hover */
nav a:hover {
    background: white;
}






/* GRID PRINCIPAL */
.grid-container {
    position: relative;

    min-height: 100vh; 

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding: 3rem;

    background-image: url("img/fondo-futbol.jpg");
    background-size: cover;
    background-position: center;
}


.grid-container::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* SECCIONES DE LIGAS */
.liga {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
}

/* POSICIONAMIENTO ARTÍSTICO */
.liga-es {
    grid-column: 1 / 3;
}

.liga-en {
    grid-column: 3 / 5;
}

.liga-it {
    grid-column: 5 / 7;
}

.liga-de {
    grid-column: 2 / 4;
}

.liga-fr {
    grid-column: 4 / 6;
}

/* TITULOS */
.liga h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

/* ASIDE */
.aside {
    grid-column: 5 / 7;
    background-color: var(--secondary-color);
    padding: 2rem;
    font-size: 0.9rem;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 2rem;
    background-color: #000000;
    font-size: 0.8rem;
}

/*LOGOS */
.logo {
    width: 70px;
    height: auto;
    margin-bottom: 1rem;
}

.liga-es {
    background-color: white;
    color: black;
}

.liga-es h2 {
    color: red;
}

.liga-en {
    background-color: #b7e4f8;
    color: black;
}

.liga-en h2 {
    color: blue;
}

.liga-it {
    background-color: #1f4fd8;
    color: white;
}

.liga-it h2 {
    color: green
}

.liga-de {
    background-color: red;
    color: white;
}

.liga-de h2 {
    color: black;
}

.liga-fr {
    background-color:  #1f5ed9;
    color: rgb(254, 254, 254);
}

.liga-fr h2 {
    color: rgb(0, 0, 0);
}

.liga {
    border-radius: 12px;
    padding: 2rem;

    transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

.liga:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.liga,
.aside {
    position: relative;
    z-index: 2;
}
